/* 
IE Stylesheet 
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

.onecol {
width: 4.7%;
}

.twocol {
width: 13.2%;
}

.col grid_4_of_12 {
width: 22.05%;
}

.col grid_4_of_12 {
width: 30.6%;
}

.fivecol {
width: 39%;
}

.sixcol {
width: 48%;
}

.sevencol {
width: 56.75%;
}

.col grid_8_of_12 {
width: 61.6%;
}

.ninecol {
width: 74.05%;
}

.tencol {
width: 82%;
}

.elevencol {
width: 91.35%;
}